div.agree {
	text-align: left;
	padding: 14px;
}

p.big {
    line-height: 1.3;
 
}

p{
font-weight: bold;
}

div.agreeinfo {
	margin-top:5px;
	width: 930px;
	height: 300px;
	overflow: auto;
	white-space: inherit;
	border: 1px solid gray;
}

div.agreeinfo span {
	display: inline-block;
	padding: 14px;
}

div.private{
	margin-top:10px;
}

div.privateinfo {
	margin-top:5px;
	width: 930px;
	height: 300px;
	overflow: auto;
	white-space: inherit;
	border: 1px solid gray;
}

div.privateinfo span {
	display: inline-block;
	padding: 14px;
}

div.allagree {
	margin-top:10px;
	text-align: center;
}
