.ft_info{
	position: relative;
}

.wrap_inner {
	width: 1000px;
	margin: auto;
}
.wrap_inner ul{
 	text-align: center; 
}
.wrap_inner ul li{
	float: left;
}

.sns_menu{
	float: right;
}

.shopinfo{
	width: 1000px;
	clear: both;
	margin: auto;
}

.shopinfo p{
	font-size: 12px;
}

.company li{
	float: left;
}

.escrow{
	position: absolute;
	top : 30px;
	right: 200px;
}

.escrow ul li{
	float: left;
}
