.ft_info {
	width: 1350px;
	height: 200px;
	border-top: 2px solid black;
}

.wrap_inner {
	width: 1000px;
	margin: auto;
	position: relative;
}
.wrap_inner ul{
 	text-align: center; 
}
.wrap_inner ul li{
	float: left;
}

.sns_menu{
	float: right;
}

.shopinfo{
	clear: both;
}

.shopinfo{
	font-size: 12px;
}

.escrow{
	position: absolute;
	right: 0;
	top: 20px;
}
