body {
	margin: auto;
	width: 1420px;
	background-color: white;
}

header {
/* 	width: 1350px; */
	height: 100px;
	background-color: black;
	
}

#main {
	width: 1200px;
	box-sizing: border-box;
	text-align: center;
	margin: auto;
}

.menubar {
	width: 250px;
	float: left;
}

#mainbody {
	width: 948px;
	background-color: white;
	min-height : 500px;
	float: left;
	border-left:1px solid gray;
	border-right:1px solid gray;
}

footer {
	background-color: #ffffff;
	clear: both;
	height: 200px;
	border-top: 2px solid black;
}

#imgbar {
/* 	width: 1350px; */
	height: 350px;
}

li {
	list-style-type: none;
}



a {
	text-decoration: none;
}

.logindiv{
	color:white;
}
.logindiv a{
	color:white;
}


/* 퀵메뉴 */
#quick_menu {
	width: 100px;
	border : 1px solid black;
	text-align: center;
	position: absolute;
	top: 450px;
/* 	left: 1350px; */
	background-color: white;
 	display: none;
 	z-index: 100;
}

.quick_img{
	width: 100px;
	padding: 0 5px 0 5px;
	box-sizing: border-box;
}
.quick_li span{
	width : 90px;
	font-size: 10px;
	position : relative;
	top: -5px;
	color: black;
}