.menu_title {
	width: 250px;
	height: 100px;
	background-color: black;
	vertical-align: middle;
}

.menu_title p {
	color: white;
	font-size: xx-large;
	font-style: bold;
	line-height: 100px;
}



.detailmenu li {
	list-style: none;
	width: 248px;
	height: 50px;
	font-size: 20px;
	border: solid 1px gray;
	border-top: none;
	font-size: x-large;
	font-style: bold;
	
}

.detailmenu li a {
	line-height: 50px;
	color:black;
}