.link{
	text-align: left;
	margin-top:5px;
	margin-left:10px;
}

.link a{
	color:black;
}

.couponpoint{
	padding:10px;
	height:30px;
	text-align: right;
	margin-right:20px;
}


.mycoupon_table{
	width:950px;
	margin:auto;
}

.mycoupon_table th{
	background-color:#ebebeb;
}


