.link{
	text-align: left;
	margin-top:5px;
	margin-left:10px;
}

.link a{
	color:black;
}

.coupon_info{
	width:930px;
	height:200px;
	border:solid 1px gray;
	margin:auto;
	margin-top:5px;
}

.couponbook{
	height:200px;
	width:500px;
	border:solid 1px gray;
}

.couponbook td{
	width:100px;
	height:100px;
	border:solid 1px gray;
}

.point{
	width:430px;
	height:200px;
	border:solid 1px gray;
}

.mycoupon_table{
	width:930px;
	margin:auto;
	margin-top:5px;
	border:solid 1px gray;
}


