.link{
	text-align: left;
	margin-top:5px;
	margin-left:10px;
}

.link a{
	color:black;
}

.order_notice{
	width:930px;
	height:170px;
	margin:auto;
	margin-top:5px;
}

.order_notice img{
	width:930px;
	height:170px;
}

#cal{
	width:930px;
	height:50px;
	text-align: left;
	margin:auto;
	margin-top:5px;
	line-height: 50px;
}


.myorder_table{
	width:930px;
	margin:auto;
	margin-top:5px;
}

.myorder_table th{
	background-color:#ebebeb;
}

 .calHelp{
	z-index:100;
	position:relative;
} 

#calfindButton{
	width:50px;
	height:25px;
	margin-top:14px;

