.link{
	text-align: left;
	margin-top:5px;
	margin-left:10px;
}

.link a{
	color:black;
}

.order_notice{
	width:930px;
	height:170px;
	margin:auto;
	margin-top:5px;
}

.order_notice img{
	width:930px;
	height:170px;
}
#cal{
	width:930px;
	height:50px;
	text-align: left;
	margin:auto;
	margin-top:5px;
	line-height: 50px;
}


.myorder_table{
	width:930px;
	margin:auto;
	margin-top:5px;
	/* font-size:15px;
	height:100px; */
	text-align: center;
}

.myorder_table th{
	background-color:#ebebeb;
	height:20px;
}

.myorder_table td{
	height:20px;
}


 .calHelp{
	z-index:100;
	position:relative;
} 


