.link{
	text-align: left;
	margin-top:5px;
	margin-left:10px;
}

.link a{
	color:black;
}

.order_notice{
	width:930px;
	height:300px;
	border:solid 1px gray;
	margin:auto;
	margin-top:5px;
	text-align: left;
}

#cal{
	width:930px;
	height:50px;
	text-align: left;
	margin:auto;
	margin-top:5px;
	line-height: 50px;
}

.order_notice #notice_span{
	font-size:20px;
	font-style:bold;
	color:red;
	margin-top:5px;
	margin-left:5px;
}

.order_notice #notice_span2{
	font-size:15px;
	margin-top:5px;
	margin-left:5px;
}

.order_notice #notice_span3{
	font-size:15px;
	font-style:bold;
	color:gray;
	margin-top:5px;
	margin-left:5px;
}


.myorder_table{
	width:930px;
	margin:auto;
	margin-top:5px;
}

.myorder_table th{
	background-color:#ebebeb;
}

 .calHelp{
	z-index:100;
	position:relative;
} 


