.imgbar{
	  width: 1420px;  
	height: 350px;
	z-index:100;
	position:absolute;
	margin:auto;
}

#imgbar_mypage_title{
	font-size:80px;
	font-style:bold;
	color:white;
	position:absolute;
	margin-top:80px;
	margin-left:100px;
	z-index:500;
}