#title {
	width: 930px;
	height: 100px;
	border: solid 1px gray;
	margin: auto;
	margin-top: 5px;
}

#title p {
	font-size: xx-large;
	font-style: bold;
	line-height: 100px;
}

.menu {
	width: 950px;
	margin: auto;
	text-align: left;
}

.menu div {
	float: left;
	margin: 7px;
	text-align: left;
}

.menu a {
	font-size: 20px;
	font-color: black;
	color: black;
	text-align: left;
}

.menu span {
	text-align: left;
}

#order {
	width: 457px;
	height: 100px;
	border: solid 1px gray;
}


#cart {
	width: 457px;
	height: 100px;
	border: solid 1px gray;
}

#coupon {
	width: 457px;
	height: 100px;
	border: solid 1px gray;
}

#board {
	width: 457px;
	height: 100px;
	border: solid 1px gray;
}

#update {
	width: 457px;
	height: 100px;
	border: solid 1px gray;
}

#leave {
	width: 457px;
	height: 100px;
	border: solid 1px gray;
}