
#title {
	width:930px;
	height:100px;
	border:solid 1px gray;
	margin:auto;
	margin-top:5px;
}

#title p{
	font-size:xx-large;
	font-style:bold;
	line-height: 100px;
}

.myorderinfo{
	width:930px;
	height:100px;
	border:solid 1px gray;
	margin:auto;
	margin-top:5px;
}

.myorderinfo p{
	font-size:x-large;
	font-style:bold;
	line-height: 100px;
}

.menu{
	width:950px;
	margin:auto;
}
.menu div{
	float:left;
	margin:7px;
}
.menu a{
margin-left:5px;
font-size:20px;
font-color:black;
color:black;
}

.menu span{
margin-left:5px;
}

#order{
width: 300px;
height:200px;
border:solid 1px gray;
}

#cart{
width: 300px;
height:200px;
border:solid 1px gray;
}

#coupon{
width: 300px;
height:200px;
border:solid 1px gray;
}

#point{
width: 300px;
height:200px;
border:solid 1px gray;
}

#board{
width: 300px;
height:200px;
border:solid 1px gray;
}

