#title {
	width: 930px;
	height: 100px;
	border: solid 1px gray;
	margin: auto;
	margin-top: 5px;
}

#title p {
	font-size: xx-large;
	font-style: bold;
	line-height: 100px;
}

.mymenu {
	width: 950px;
	margin: auto;
	text-align: left;
}

.mymenu div {
	float: left;
	margin: 7px;
	text-align: left;
}

.mymenu a {
	font-size: 20px;
	font-color: black;
	color: black;
	text-align: left;
}

.menu span {
	text-align: left;
}

#order {
	width: 300px;
	height: 270px;
	
}

#order img{
	margin-left:80px;
}


#cart {
	width: 300px;
	height: 270px;
}

#cart img{
	margin-left:40px;
}

#coupon {
	width: 300px;
	height: 270px;
}

#board {
	width: 300px;
	height: 270px;
}

#board img{
	margin-left:80px;
}

#update {
width: 300px;
	height: 270px;
}

#update img{
	margin-left:40px;
}


#leave {
width: 300px;
	height: 270px;
}