/* listview */
.recipelist {
	width: 900px;
	background-color: yellow;
	margin: auto;
}

.recipebox {
	width: 700px;
	height: 250px;
	background-color: red;
	margin: auto;
	margin-top: 10px;
	border: 2px solid #0066ff;
	border-radius: 30px;
	overflow: hidden;
}

.recipe_over {
	display: block;
}

.recipe_out {
	display: none;
}

.recipe_sub1 {
	width: 250px;
	float: left;
	position: relative;
}

.recipe_sub2 {
	width: 450px;
	height: 250px;
	background-color: green;
	float: right;
	position: relative;
}

.recipe_sub1 span img {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 0;
}

.list_detail {
	position: absolute;
	top: 40px;
	left: 40px;
}

.list_detail span {
	display: block;
	line-height: 30px;
}

.del {
	width: 100%;
	text-align: center;
}

#list_title {
	font-size: 30px;
	text-align: left;
	margin-left: 10px;
}

/* detail */

#detail_imgdiv {
	width: 900px;
	background-color: yellow;
	margin: auto;
}

#menuimg{
	width:300px;
	height:300px;
	float: left;
}

#menudetail{
	width:500px;
	height:300px;
	clear: both;
}


