/* listview */
.recipelist {
	width: 900px;
	margin: auto;
}

.recipebox {
	width: 800px;
	height: 250px;
	margin: auto;
	margin-top: 10px;
	border: 2px solid #0066ff;
	border-radius: 30px;
	overflow: hidden;
}

.recipe_over {
	display: block;
}

.recipe_out {
	display: none;
}

.recipe_sub1 {
/* 	width: 250px; */
	float: left;
	position: relative;
}

.recipe_sub2 {
	width: 450px;
	height: 250px;
	float: right;
	position: relative;
}

.recipe_sub1 span img {
	width: 230px;
	height: 230px;
	position: absolute;
	left: 0;
	margin : 10px;
	border-radius: 20px;
}

.list_detail {
	clear : both;
	position: relative;
	top: 65px;
	left: 30px;
}

.list_detail span {
	display: block;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: #4d4d4d;
}

.del {
	width: 100%;
	text-align: center;
}

#list_title {
	font-size: 30px;
	text-align: left;
	margin-left: 10px;
}

/* detail */

#detailmain {
	width: 950px;
}

/* #detail_imgdiv { */
/* 	width: 700px; */
/* 	margin: auto; */
/* } */

/* #menuimg{ */
/* 	width:300px; */
/* 	height:300px; */
/* 	float: left; */
/* } */

/* #menudetail{ */
/* 	width:400px; */
/* 	float: left; */
/* 	padding-top: 75px; */
/* } */

#menudetail span{
	display: block;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: #4d4d4d;
}

#exp{
	clear: both;
}

hr{
	clear: both;
	height: 5px;
	background: #000000;
}

p{
	font-weight: normal;
}

