<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coupon">

	<select id="list" resultType="dto.fb_CouponDTO" parameterType="int">
		select c.coupon_name, c.coupon_discount, b.coupon_state
		from fb_coupon c, fb_coupon_book b
		where member_no=#{member_no}
		and c.coupon_no = b.coupon_no
	</select>
	
	<select id="adminlist" resultType="dto.fb_CouponDTO" >
		select *
		from fb_coupon
		order by coupon_no asc
	</select>
	
	<insert id="admincouponins" parameterType="dto.fb_CouponDTO">
		insert into fb_coupon values(SEQ_coupon_no.nextval, #{coupon_name}, #{coupon_discount})
	</insert>
	
	<delete id="admincoupondel" parameterType="dto.fb_CouponDTO">
		delete from fb_coupon 
		where coupon_no = #{coupon_no}
	</delete>
	
	<select id="admincouponidchk" parameterType="string" resultType="dto.MemberDTO">
		select member_no, member_name from fb_member
		where id = #{id}
	</select>
	
	<insert id="admincouponmemins" parameterType="dto.fb_CouponDTO">
		insert into fb_coupon_book
		values(SEQ_couponbook_no.nextval, #{member_no}, #{coupon_no}, 0)
	</insert>
	
	
</mapper>
