<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="board">
 	<select id="count" resultType="int">
 		select count(*) from fb_board
 	</select>
 	
 	<select id="list" resultType="dto.fb_BoardDTO" parameterType="dto.fb_PageDTO">
 	<!-- 파싱하지말고 문자열 그대로 사용하라(<,>) -->
 	<!-- '<'를 사용하기 위해서 CDATA를 사용 -->
 		<![CDATA[
 			select b.* from(
 			select rownum as rm, a.* from(
 			select * from fb_board order by ref desc, re_step asc)a)b
 			where b.rm>=#{startRow} and b.rm<=#{endRow}
 			]]>
 	</select>
 	
 	<select id="content" parameterType="int" resultType="dto.fb_BoardDTO">
 		select * from fb_board where board_no=#{board_no}
 	</select>
 	
 	<update id="readCount" parameterType="int">
 		update board set board_readcount=board_readcount+1 where board_no=#{board_no}
 	</update>
 	
 	<update id="reStepCount" parameterType="dto.fb_BoardDTO">
 		<![CDATA[
 			update board set re_step=re_step+1 where ref=#{ref} and re_step>#{re_step}
 		]]>
 	</update>
 	
 	<insert id="save" parameterType="dto.fb_BoardDTO">
		insert into
		board(num,writer,email,subject,reg_date,
		readcount,ref,re_step,re_level,content,ip,upload)
		values(board_seq.nextval,#{writer},#{email},#{subject},sysdate,0,
		<choose>
			<when test="ref==0">
				board_seq.nextval	
			</when>
			<otherwise>
				#{ref}
			</otherwise>
		</choose>
		,#{re_step},#{re_level},#{content},#{ip},#{upload,jdbcType=VARCHAR})
	</insert>
	
	<select id="uploadFile" parameterType="int" resultType="String">
		select board_upload from fb_board where board_no = #{board_no}
	</select>
 	
 	<update id="update" parameterType="dto.fb_BoardDTO">
 	update fb_board set board_subject=#{board_subject}, board_content=#{board_content}
 	<if test="upload!=null">
 		,board_upload=#{board_upload}
 	</if>
 	where num=#{num}
 	</update>
 	
 	<delete id="delete" parameterType="int">
 		delete from fb_board where board_no=#{board_no}
 	</delete>
 </mapper>