<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">


	<insert id="ins" parameterType="dto.MemberDTO">
		insert into fb_member values
		(SEQ_member_no.nextval, #{member_name}, #{id}, #{pw},
		replace(#{address},',',''), replace(#{tel},',',''), replace(#{mail},',',''), 0)
	</insert>

	<select id="ck" resultType="int" parameterType="String">
		select count(*)
		from fb_member
		where id=#{id}
	</select>
	
	<select id="loginchk" parameterType="hashmap" resultType="dto.MemberDTO">
		select *
		from fb_member
		where id = #{id} and pw = #{pw}
	</select>
	
	<select id="idfind" resultType="dto.MemberDTO" parameterType="hashmap">
	select id
	from fb_member
	where member_name=#{member_name} and mail=#{mail}
	</select>
	
	<select id="pwfind" resultType="dto.MemberDTO" parameterType="hashmap">
	select pw
	from fb_member
	where id=#{id} and member_name=#{member_name} and mail=#{mail}
	</select>
	
	<update id="pwupd" parameterType="hashmap">
	update fb_member
	set
	pw=#{pw}
	where id=#{id} and member_name=#{member_name} and mail=#{mail}
	</update>
	
	<update id="upd" parameterType="dto.MemberDTO">
	update fb_member
	set
	pw=#{pw}, replace(#{address},',',''), replace(#{tel},',',''), replace(#{mail},',',''), 0, 0)
	where id=#{id} and member_name=#{member_name}
	</update>
	
	<delete id="del" parameterType="dto.MemberDTO">
	delete 
	from fb_member
	where id=#{id} and pw=#{pw}
	</delete>
	
	
	<resultMap type="dto.MemberDTO" id="member">
		<result column="member_no" property="member_no"/>
		<result column="member_name" property="member_name"/>
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="address" property="address"/>
		<result column="tel" property="tel"/>
		<result column="mail" property="mail"/>
		<result column="point" property="point"/>
		<result column="stamp" property="stamp"/>
		
		<collection property="cList" javaType="list" ofType="dto.fb_CouponDTO">
			<result column="couponbook_no" property="couponbook_no"/>
			<result column="coupon_no" property="coupon_no"/>
			<result column="coupon_name" property="coupon_name"/>
			<result column="coupon_discount" property="coupon_discount"/>
			<result column="coupon_state" property="coupon_state"/>
		</collection>
		
	</resultMap>

	<select id="login" parameterType="hashmap" resultMap="member">
		select *
		from FB_MEMBER a, FB_COUPON_BOOK b, FB_COUPON c
		where a.member_no = b.member_no(+) and b.coupon_no = c.coupon_no(+)
		and a.member_no = (select member_no from fb_member where id = #{id} and pw = #{pw})
	</select>
	
	<select id="lately" parameterType="int" resultType="dto.LatelyDTO">
		select * 
		from fb_lately_product a, fb_member b, fb_foods c
		where a.member_no = b.member_no and a.foods_no = c.foods_no
		and a.member_no = #{member_no}
		order by a.lately_no desc
	</select>
	
	<delete id="latelydel" parameterType="int">
		delete from fb_lately_product
		where lately_no = #{lately_no}
	</delete>
	
	<select id="latelychk" parameterType="hashmap" resultType="int">
		select count(*)
		from fb_lately_product
		where member_no = #{member_no} and foods_no = #{foods_no}
	</select>
	
	<insert id="latelyins" parameterType="hashmap">
		insert into fb_lately_product values(SEQ_lately_no.nextval, #{member_no}, #{foods_no})
	</insert>
	
	
</mapper>
