<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

	<select id="list" resultType="dto.fb_OrderDTO" parameterType="int">
		select day, foods_no, price, delivery_condition, amount
		from fb_request
		where member_no=#{member_no}
	</select>
	
	<!-- <delete id="delete" parameterType="hashmap">
	delete 
	from fb_request
	where member_no=#{member_no} and foods_no=#{foods_no} and day=#{day}
	</delete> -->
	
	
	
<!--널
  <select id="search" resultType="dto.fb_OrderDTO" parameterType="java.util.HashMap">
	select *
	from fb_request
<![CDATA[where member_no=#{member_no} and 
    day >= #{start,jdbcType=TIMESTAMP}
    and day <= #{end,jdbcType=TIMESTAMP}]]>
	</select>    -->


<!--  값 받아오고 부적절한 열 유형 -->
 <!-- <select id="search" resultType="dto.fb_OrderDTO" parameterType="java.util.HashMap">
	select *
	from fb_request
<![CDATA[where member_no=#{member_no} and 
    day >= to_date(#{start},'YYYY-MM-DD')
    and day <= to_date(#{end},'YYYY-MM-DD')]]>
    </select>  -->  
    
     <select id="search" resultType="dto.fb_OrderDTO" parameterType="java.util.HashMap">
	<![CDATA[
		select *
		from fb_request
		where member_no=#{member_no} and 
	    day >= to_date(#{start},'yyyy-mm-dd')
	    and day <= to_date(#{end},'yyyy-mm-dd')
    ]]>
    </select>  

    
     
   <!--  <select id="search" resultType="dto.fb_OrderDTO" parameterType="java.util.HashMap">
	select *
	from fb_request
<![CDATA[where member_no=#{member_no} and 
    day >= to_date(#{start})
    and day <= to_date(#{end})]]>
    </select>   -->
    
</mapper>
