<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="shop">

	<resultMap type="dto.FoodsDTO" id="food_rev_result">
		<result column="foods_no" property="foods_no" />
		<result column="foods_name" property="foods_name" />
		<result column="price" property="price" />
		<result column="weight" property="weight" />
		<result column="way" property="way" />
		<result column="shelfLife" property="shelfLife" />
		<result column="foods_explaination" property="foods_explaination" />
		<result column="foods_material" property="foods_material" />
		<result column="picture" property="picture" />
		<result column="category_no" property="category_no" />
		<result column="fb_delivery_no" property="fb_delivery_no" />
		<collection property="rdto" javaType="java.util.List"
			ofType="dto.ReviewDTO">
			<result column="review_no" property="review_no" />
			<result column="review_writer" property="review_writer" />
			<result column="review_content" property="review_content" />
			<result column="review_date" property="review_date" />
		</collection>
	</resultMap>


	<select id="shop_list" parameterType="int" resultMap="food_rev_result">
		select r.*,
		f.* from
		fb_review r, fb_foods f
		where f.foods_no = r.foods_no(+) and
		f.foods_no = #{foods_no}
		order by r.review_no desc
	</select>
	
	<select id="buy_list" parameterType="int" resultType="dto.FoodsDTO">
		select * from fb_foods where foods_no = #{foods_no} order by foods_no
	</select>

	<select id="count" resultType="int" parameterType="dto.FoodsDTO">
		select
		count(*) from fb_foods 
		<if test="value != 0">
			where category_no = #{value}
		</if>
	</select>

	<select id="page_list" parameterType="hashmap" resultType="dto.FoodsDTO">
		select b.* from(
		select rownum as rm, a.* from(
		select * from fb_foods 
		<if test="category_no != 0">
			where category_no=#{category_no} 
		</if>
		order by foods_no desc )a)b
		<![CDATA[
		where b.rm>=#{startRow} and b.rm <=#{endRow}
		]]>
	</select>
	
	<select id="review_page_list" parameterType="hashmap" resultType="dto.ReviewDTO">
		<![CDATA[
		select b.* from(
		select rownum as rm, a.* from(
		select * from fb_review where foods_no = #{foods_no} order by review_no desc )a)b
		where b.rm>=#{startRow} and b.rm <=#{endRow}
		]]>
	</select>
	
	<select id="reviewCount" parameterType="dto.FoodsDTO" resultType="int">
		select count(*) from fb_review where foods_no = #{foods_no}
	</select>
	
	<insert id="reviewInsert" parameterType="hashmap" >
		insert into fb_review values (#{member_no}, SEQ_review_no.nextval, #{review_writer,jdbcType=VARCHAR}, #{review_content}, sysdate, #{foods_no})
	</insert>
	<delete id="reviewDelete" parameterType="hashmap">
		delete from fb_review where review_no = #{review_no} and member_no = #{member_no}
	</delete>
	
	<update id="reviewUpdate" parameterType="hashmap">
		update fb_review set review_content = #{review_content} where review_no = #{review_no} and member_no = #{member_no}
	</update>
	
	<insert id="basketInsert" parameterType="hashmap">
		insert into fb_basket values
		(#{member_no}, #{foods_no}, #{amount})
	</insert>
	
	
	<insert id="insert">
		insert into fb_foods
		values(SEQ_foods_no.nextval, #{foods_name}, #{price}, #{weight}, #{way}, #{shelfLife},
		#{foods_explaination}, #{foods_material}, #{picture}, #{category_no})
	</insert>

	<delete id="del">
		delete from fb_foods where foods_no = #{id}
	</delete>

	<select id="adminlist" parameterType="int" resultType="dto.FoodsDTO">
		select *
		from fb_foods
		<if test="value > 0">
			where category_no = #{value}
		</if>
	</select>
	
	<select id="food" parameterType="int" resultType="dto.FoodsDTO">
		select *
		from fb_foods
		where foods_no = #{foods_no}
	</select>
	
	<select id="search" parameterType="hashmap" resultType="dto.FoodsDTO">
			select c.* from (
			select rownum as rm, b.*
			from(
			select * from fb_foods
			<choose>
				<when test="pdto.category_no != 0">
					where category_no = #{pdto.category_no} and foods_name like '%'||#{foods_name}||'%'
				</when>
				<otherwise>
					where foods_name like '%'||#{foods_name}||'%'
				</otherwise>
			</choose>
			order by category_no desc)b)c
			<![CDATA[
			where c.rm >= #{pdto.startRow} and c.rm <= #{pdto.endRow}
			]]>
	</select>

	<select id="searchCount" parameterType="hashmap" resultType="int">
		select count(*) from fb_foods
		<choose>
				<when test="category_no != 0">
					where category_no = #{category_no} and foods_name like '%'||#{foods_name}||'%'
				</when>
				<otherwise>
					where foods_name like '%'||#{foods_name}||'%'
				</otherwise>
			</choose>
	</select>
	
	<select id="buybasket" parameterType="hashmap" resultType="dto.fb_BasketDTO">
		select a.amount, c.foods_no, c.foods_name, c.price
		from fb_basket a, fb_member b, fb_foods c 
		where a.member_no = b.member_no
		and a.foods_no = c.foods_no
		and a.member_no = #{member_no} and a.foods_no = #{foods_no}
	</select>
	
	<select id = "basketChk" parameterType="hashmap" resultType="int">
		select count(*) from fb_basket
		where member_no = #{member_no} and foods_no = #{foods_no}
	</select>
	
	<update id="savemoney_plus" parameterType="hashmap">
		update fb_member set point = point + #{point} where member_no= #{member_no}
	</update>
	
	<update id="savemoney_minus" parameterType="hashmap">
		update fb_member set point = point - #{point} where member_no=#{member_no}
	</update>
	
	<insert id="requestInsert">
		insert into fb_request values(#{member_no}, #{price}, #{amount}, sysdate, #{delivery_condition}, #{foods_no}, #{foods_name})
	</insert>
	
	<delete id="couponDel" parameterType="hashmap">
		delete from fb_coupon_book where member_no = #{member_no} and couponbook_no = #{couponbook_no}
	</delete>
	

	<select id="recoupon" parameterType="int" resultType="dto.fb_CouponDTO">
		select b.*, c.*
		from FB_MEMBER a, FB_COUPON_BOOK b, FB_COUPON c
		where a.member_no = b.member_no and b.coupon_no = c.coupon_no
		and a.member_no = (select member_no from fb_member where member_no = #{member_no})
	</select>
	
	<select id="repoint" parameterType="int" resultType="int">
		select point
		from FB_MEMBER
		where member_no = #{member_no}
	</select>
	
</mapper>


