<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="shop">

	<resultMap type="dto.FoodsDTO" id="food_rev_result">
		<result column="foods_no" property="foods_no" />
		<result column="foods_name" property="foods_name" />
		<result column="price" property="price" />
		<result column="weight" property="weight" />
		<result column="way" property="way" />
		<result column="shelfLife" property="shelfLife" />
		<result column="foods_explaination" property="foods_explaination" />
		<result column="foods_material" property="foods_material" />
		<result column="picture" property="picture" />
		<result column="category_no" property="category_no" />
		<result column="fb_delivery_no" property="fb_delivery_no" />
		<collection property="rdto" javaType="java.util.List"
			ofType="dto.ReviewDTO">
			<result column="review_no" property="review_no" />
			<result column="review_writer" property="review_writer" />
			<result column="review_content" property="review_content" />
			<result column="review_date" property="review_date" />
		</collection>
	</resultMap>


	<select id="shop_list" parameterType="int" resultMap="food_rev_result">
		select r.*,
		f.* from
		fb_review r, fb_foods f
		where f.foods_no = r.foods_no(+) and
		f.foods_no = #{foods_no}
		order by r.review_no desc
	</select>

	<select id="count" resultType="int" parameterType="dto.FoodsDTO">
		select
		count(*) from fb_foods where category_no = #{category_no}
	</select>

	<select id="page_list" parameterType="map" resultType="dto.FoodsDTO">
		<![CDATA[
		select b.* from(
		select rownum as rm, a.* from(
		select * from fb_foods where category_no=#{category_no} order by foods_no desc )a)b
		where b.rm>=#{startRow} and b.rm <=#{endRow}
		]]>
	</select>

	<select id="review_page_list" parameterType="map" resultType="dto.ReviewDTO">
		<![CDATA[
		select b.* from(
		select rownum as rm, a.* from(
		select * from fb_review where foods_no = #{foods_no} order by review_no desc )a)b
		where b.rm>=#{startRow} and b.rm <=#{endRow}
		]]>
	</select>

	<select id="reviewCount" parameterType="dto.FoodsDTO"
		resultType="int">
		select count(*) from fb_review where foods_no = #{foods_no}
	</select>
	
	<insert id="insert">
		insert into fb_foods 
		values(SEQ_foods_no.nextval, #{foods_name}, #{price}, #{weight}, #{way}, #{shelfLife}, #{foods_explaination}, #{foods_material}, #{picture}, 1, 0)
	</insert>
	
	<delete id="del">
		delete from fb_foods where foods_no = #{id}
	</delete>
</mapper>

